<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <mat-icon inline="true">account_circle</mat-icon>
                        </div>
                        <div class="col-8"><br><br>
                            <h2>{{FirstNameCustomer}} {{SecondNameCustomer}} {{LastNameCustomer}}
                                {{SecondLastNameCustomer}}</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-5">
                                <label for="Fname">Primer Nombre</label>
                                <input id="Fname" class="form-control" name="Fname" [(ngModel)]="FirstNameCustomer"
                                    type="text" [disabled]="InputsDisabled" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="SName">Segundo Nombre</label>
                                <input id="SName" class="form-control" name="SecondName"
                                    [(ngModel)]="SecondNameCustomer" type="text" [disabled]="InputsDisabled">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-5">
                                <label for="FLname">Primer Apellido</label>
                                <input id="FLname" class="form-control" name="LastName" [(ngModel)]="LastNameCustomer"
                                    type="text" [disabled]="InputsDisabled" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="SLName">Segundo Apellido</label>
                                <input id="SLName" class="form-control" name="SecondLasName"
                                    [(ngModel)]="SecondLastNameCustomer" type="text" [disabled]="InputsDisabled">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-5">
                                <label for="Addr">Dirección</label>
                                <input id="Addr" class="form-control" name="Addr" [(ngModel)]="Address" type="text"
                                    [disabled]="InputsDisabled" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="AddEnt">Dirección entrega</label>
                                <input id="AddEnt" class="form-control" name="AddEnt" [(ngModel)]="AddressEntry"
                                    type="text" [disabled]="InputsDisabled" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-5">
                                <label for="NumTel">Número Telefónico</label>
                                <input id="NumTel" class="form-control" name="NumTel" [(ngModel)]="NumberPhone"
                                    type="text" [disabled]="InputsDisabled" required>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="gen">Genero</label>
                                <select *ngIf="InputsDisabled" class="form-control" id="Gender" name="Gender" disabled>
                                    <option>{{name}}</option>
                                </select>
                                <select *ngIf="!InputsDisabled" class="form-control" id="Gender" name="Gender"
                                    [(ngModel)]="FKIdGender" required>
                                    <option *ngFor="let Gender of Genders" value="{{Gender.IdGender}}">
                                        {{Gender.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-10">
                                <label for="email">Correo</label>
                                <input name="email" type="email" class="form-control" id="Mail" autocomplete="off"
                                    [(ngModel)]="Mail" required [disabled]="InputsDisabled">
                                <br>

                                <input name="Edit" type="submit" class="btn btn-dark form-control"
                                    (click)="ActivarInputs()" [disabled]="!InputsDisabled"
                                    value="Editar Información"><br><br>
                                <input name="submit" type="submit" class="btn btn-dark form-control"
                                    (click)="UpdateChanges()" [disabled]="(InputsDisabled)" value="Guardar Cambios">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>