<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                            <mat-icon inline="true">account_circle</mat-icon>
                        </div>
                        <div class="col-8"><br><br>
                            <h2>Cambiar Contraseña</h2>
                        </div>
                    </div>
                </div>
                <form  class="form-group" #UpdateForm="ngForm">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-10">
                                <label for="ca">Contraseña actual</label>
                                <input id="ca" class="form-control" name="ca" [(ngModel)]="password" #na="ngModel"
                                    type="password" minlength="4" required>
                                <div *ngIf="na.invalid && (na.dirty || na.touched)" class="alert alert-danger">

                                    <div *ngIf="na.errors.required">
                                        Por favor digite la contraseña actual
                                    </div>
                                    <div *ngIf="na.invalid && (!na.errors.required)">
                                        La contraseña debe ser mayor a 4 caracteres
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-10">
                                <label for="nc">Nueva Contraseña</label>
                                <input id="nc" class="form-control" name="nc" [(ngModel)]="NewPassword" #nc="ngModel"
                                    type="password" required minlength="4" maxlength="15">
                                <div *ngIf="nc.invalid && (nc.dirty || nc.touched)" class="alert alert-danger">

                                    <div *ngIf="nc.errors.required">
                                        Por favor digite la nueva Contraseña.
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-10">
                                <label for="cc">Confirma contraseña</label>
                                <input id="cc" class="form-control" name="cc" [(ngModel)]="ConfirmPass" #cc="ngModel"
                                    type="password" minlength="4" maxlength="15" required>
                                <div *ngIf="cc.invalid && (cc.dirty || cc.touched)" class="alert alert-danger">

                                    <div *ngIf="cc.errors.required">
                                        Por favor confirmar Contraseña.
                                    </div>
                                </div>
                                <div *ngIf="cc.touched && NewPassword !== ConfirmPass &&(!na.errors.required)" class="alert alert-danger">
                                    Las contraseñas no coinciden.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-10">
                                <input name="submit" type="submit" class="btn btn-dark form-control"
                                    (click)="updatePassword()" [disabled]="UpdateForm.invalid" value="Guardar Cambios">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>